*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: rgb(250, 246, 246);
}


.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo .blue {
  color: #1e90ff;
}

.logo .red {
  color: #ff4d4d;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ff4d4d;
}


.contact-btn {
  padding: 10px 22px;
  background: #ff4d4d;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #e63c3c;
}
.hero {
  padding: 40px 80px;
  background: linear-gradient(90deg,#ff3b30,#ff2d7a);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  line-height: 2.5;
}
.card{
    text-align: left;
}
.card h2{
    color: white;
}
.left img{
    width: 80%;
    align-items: center;
}
p.home{
    display: flex;
    gap: 20px;
    font-size: 20px;
    background-color: rgb(223, 192, 146);
    padding-left: 20px;
    padding-top: 10;
    padding-bottom: 10; 
    
}
a{
    text-decoration: none;
    color: rgb(36, 41, 41);
}
.footer{
    display: flex;
    justify-items: center;
    background: linear-gradient(75deg,#201f1f ,#4e4d4d44);
    padding: 50px;
    color: white;
    max-width:1200px;
    margin:auto;
    height: 80vh;
    border-radius: 14px;  
    gap: 10px;
}
.footer li{
  display: flex;
  list-style: none;
  margin-right: 20px;
  color: #c9baba;
  cursor: pointer;
  gap: 10px;
  line-height: 1.5;
}
.footer P{
  display: flex;
  align-items: left;
  font-size: 15px;
  font-weight: bold;
  
}
.footer li:hover{
  color: whitesmoke;
}
.last{
  margin-left: 90px;
 
}
.last  a{
   list-style: none;
   text-decoration: none;
   color: rgb(13, 49, 82);
}
.last  a:hover{
  color: rgb(214, 206, 206);
}
.last h4{
  font-size:25px ;
  color: rgb(13, 49, 82) ;
}

.third{
  margin-left: 40px;
}
.third p{
  color:  rgb(151, 201, 248) ;
}
.third li{
  line-height: 1.3;
  font-size: 20px;
}
.second{
  margin-left: 40px;
}
.second p{
  color:  rgb(151, 201, 248) ;
}
.second li{
  line-height: 1.3;
  font-size: 20px;
}
.first{
  margin-left: 30px;
}
.first p{
  color: rgb(151, 201, 248) ;
}
.first li{
  line-height: 1.3;
  font-size: 15px;
}
 .final{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  font-size: 20px;
  background: #333;
  border-radius: 15px;
  width: 100%;
  height: 10vh;
  
}
.icon{
  width: 60px;
}

.text h2{
  margin: 0;
  color: white;
}

.text p{
  margin: 0;
  color: white;
  font-size: 14px;
}
.jet{
    display: grid;
    background:linear-gradient(90deg ,#f74b42 ,#7c7276);
    padding: 20px;
    max-width:100%;
    margin:auto;
    height: 90vh;
    border-radius: 14px;  
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;    
}
.fly img{
    display: block;
    margin: 0 auto 20px;
    font-size: 40px;
    width: 80px;
    height: 80px;
}
.fly {
  font-weight: bold;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  color: #c9baba;
}
.fly p{
  font-weight: bold;
  font-size: 20px;
  color: #494446;
}
.air{
  display: flex;
  justify-content:center ;
  gap: 100px;

}
.air h1{
  font-weight: bold;
  font-size: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(37, 36, 36);
 
}
.air p{
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}
.team{
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
    padding: 50px;
    background: linear-gradient(76deg,#c9baba,#eb474f);
    border-radius: 12px;
}
.team img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    border: 4px solid white;  
}
.team-card h3{
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}
.team-card p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
}
.social{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}
.social img{
    width: 40px;
    height: 40px;
}

.social span{
    font-size: 20px;
}

